.products {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.productCard {
  max-height: 40rem;
  width: 30rem;
  background: #fff;
  border-radius: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.productCard:hover{
  box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
  transition: .3s ease-in-out;
}

.productCard_photo {
  width: 100%;
  height: 55%;
  padding: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.productCard_photo > img {
  height: 100%;
}

.productCard_info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productCard_infoName,.productCard_infoPrice{
  font-size: 1.5rem;
  padding: .5rem;
}

.productCard_infoAdd{
  border: 1px solid var(--main-color);
  padding: 1rem 2rem;
  background: var(--main-color);
  font-size: 1.5rem;
  border-radius: .3rem;
}

.productCard_infoAdd:hover{
  color: #fff;
}