.register {
  background: #fff;
  height: 100vh;
  position: relative;
}

.form_container_extend {
  min-height: 70rem;
}

.register_card_copyright {
  position: absolute;
  top: 65rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.register_card_copyright > p {
  font-size: 1.6rem;
}
