.productDetail {
  width: 100%;
  min-height: 93vh;
  padding-top: 4rem;
  background: rgb(238, 238, 238);
}

.detail_container {
  min-height: 93vh;
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

.detail_containerInfos {
  height: 70rem;
  width: 100%;
  display: flex;
}

.productInfo_images,
.productInfo_datas {
  flex: 1;
  min-width: 40rem;
  height: 100%;
  border: 1px solid rgb(238, 238, 238);
}

.productInfo_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.productInfo_imagesCover {
  width: 100%;
  height: 75%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid rgb(238, 238, 238);
  box-shadow: 0px 3px 3px 3px rgb(238, 238, 238);
  position: relative;
  padding-top: 7rem;
}

.productInfo_imagesCover > img {
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productInfo_imagesList {
  height: 25%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_galleryPhoto {
  min-width: 10rem;
  min-height: 10rem;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  margin: 0 0.5rem;
  cursor: pointer;
  padding: 0.3rem;
  transition: transform 0.3s ease-in;
}

.selected_photo {
  border: 1.5px solid rgb(200, 200, 200);
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

.productInfo_datas {
  padding: 2rem;
}

.productInfo_datasContainer {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.product_name {
  font-size: 2.2rem;
}

.product_description > h2 {
  font-size: 2rem;
}

.product_description > p {
  font-size: 1.5rem;
}

.add_cart_and_fav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_favorite_button,
.add_to_cart {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: 1px solid rgb(200, 200, 200);
  background: var(--main-color);
  margin: 0 0.5rem;
  cursor: pointer;
  color: #fff;
}

.add_to_cart {
  background-color: rgb(0, 66, 0);
}

.detail_containerProducts{
  padding: 1rem;
}

.detail_containerProducts > h2{
  font-size: 1.8rem;
}

.same_products{
  display: flex;
}